.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}

.login input[type="text"], 
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.login button:hover {
    background-color: #0056b3;
}
